.newCompetitionDiv {
  text-align: center;
}

.usersGrid {
  height: 70vh;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  gap: 0.3125em;
  padding: 1.25em;
  overflow-y: auto;
  margin-top: 1.25em;
  border: 0.3125em solid;
}

.allUsersLabel {
  padding: 1.25em;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 0.3125em;
  overflow-y: auto;
}
.allUsersLabel p {
  border: 2px solid;
  border-radius: 5px;
}
.highlight {
  background-color: #3c79f5 !important;
}
.createCompetition {
  height: 70vh;
  overflow: visible;
}
.allCompetitions {
  margin: 1.25em auto 0 auto;
  justify-content: center;
}

.allCompetitions tr {
  border-bottom: 1px solid #ddd;
}

.allCompetitions th {
  font-weight: bold;
}
.allCompetitions td,
th {
  padding: 0.625em;
  text-align: center;
}
.EditCompetition_SM {
  margin: 0 auto;
  justify-content: center;
  width: 87.5em;
}
